<div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Api <b>information</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="/weather" class="btn btn-success" data-toggle=""><i class="material-icons">&#xE147;</i> <span>weather info</span></a>
						<a href="/unsplash.ejs" class="btn btn-danger" data-toggle=""><i class="material-icons">&#xE15C;</i> <span>unsplash</span></a>						
					</div>
                </div>
            </div>