<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
.card {
 
  
  margin: auto;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  padding: 20px;
 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    width:100%;
  padding: 2px 16px;
}
</style>
</head>
<body>



<div class="card">
  
  <div class="container">
    <h2>all fees</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Total fee</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>₹<%=fees%></td>
            
          </tr>
          
        </tbody>
      </table>
  </div>
</div>

</body>
</html> 
